<% layout('layouts/boilerplate') %>



    <h1>All Grounds</h1>
    <form class="form-inline" action="/grounds" method="get">
        <input type="text" name="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">Search</button>
    </form>

    <div>
        <a href="/grounds/new">Add Ground</a>
    </div>
    <% for(let ground of grounds) {%>
        <div class="card mb-3">
            <div class="row">
                <img src="<%= ground.images[0].url %>" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= ground.title %>
                    </h5>
                    <p class="card-text">
                        <%=ground.description %>
                    </p>
                    <p class="card-text"><small class="text-muted">
                            <%=ground.location %>
                        </small></p>
                    <a class="btn btn-primary" href="/grounds/<%=ground._id%>">View <%=ground.title %> </a>
                </div>
            </div>
        </div>
        <% } %>